

<div class="container">
    <div class="box">
        <div class="image">
            <img src="/assets/img_onboarding_illustration1@1.5x.png">
        </div>
        <div class="content">
            <div class="head">Learner&nbsp;Engagement</div>
            <div class="para">InterActive&nbsp;features&nbsp;mirror&nbsp;the&nbsp;traditional&nbsp;classroom&nbsp;experience<br>and&nbsp;learners&nbsp;receieve&nbsp;feedback&nbsp;to&nbsp;increase&nbsp;long-term&nbsp;retention,<br>tripling&nbsp;learning&nbsp;efficacy&nbsp;over&nbsp;standard&nbsp;video.</div>
        <div class="page">
            <img src="/assets/Pagination1.png">
        </div>
        </div>
        <div class="innerBox">
            <div class="logo">
                <img src="/assets/img_virtuallearn logo_splash 2.png">
            </div>
            <div class="details">
                <div class="welcome">Welcome</div>
                <div class="easy">Are&nbsp;you&nbsp;ready&nbsp;to&nbsp;study&nbsp;easily<br>in&nbsp;a&nbsp;virtual&nbsp;way?</div>
            </div>
            <div class="login">
                <button routerLink="/login">Login</button>
            </div>
            <div class="or">Or</div>
            <div class="reg">Register</div>
            <div class="register">By&nbsp;creating&nbsp;new&nbsp;account,you&nbsp;agree&nbsp;to<br>our&nbsp;<a target="_blank" href="#">Terms&nbsp;of&nbsp;services</a>&nbsp;&&nbsp;<a target="_blank" href="#">Privacy&nbsp;Policy</a></div>
        </div>
    </div>
</div>