<div class="container">
    <div class="head">
        <div class="logo">
            <img src="/assets/img_virtuallearn logo_splash 2.png">
        </div>
        <div class="search">
            <div class="searchBar">
                <div class="display">
                    <div>
                        <mat-icon  class="searchIcon" >search</mat-icon>
                      </div>
                <div>
                  <input class="searchField" type="text"  placeholder=" Search" >
                </div>
                
                </div>
          </div>
        </div>
        <div class="profile">
            <mat-icon>notifications</mat-icon>
            <mat-icon (click)="onClick()">settings</mat-icon>
            <div>
                <img src="/assets/Mask Group.png">
            </div>
        </div>
    </div>
    <div class="sideBar" [class.hide]="hide">
        <div class="side">
            <img src="/assets/GraduationCap.png">
            <div class="my">My&nbsp;course</div>
        </div>
        <div class="line"></div>
        <div class="side">
            <img src="/assets/UserCircle.png">
            <div class="my">My&nbsp;profile</div>
        </div>
        <div class="line"></div>
        <div class="side">
            <img src="/assets/SignOut.png">
            <div class="my">logout</div>
        </div>
    </div>
    <div class="hello">Hello!</div>
    <div class="dhoni">Mahendra&nbsp;Singh&nbsp;Dhoni</div>
    <div class="content">
        <div>
            <img src="/assets/img_banner3_home.png">
        </div>
        <div>
            <img src="/assets/img_banner3_home.png">
        </div>
        <div>
            <img src="/assets/img_banner3_home.png">
        </div>
        <div>
            <img src="/assets/img_banner3_home.png">
        </div>
       
    </div>
    <div class="dot">
        <img src="/assets/Ellipse 2.png">
        <img src="/assets/Ellipse 3.png">
        <img src="/assets/Ellipse 3.png">
        <img src="/assets/Ellipse 3.png">
        <img src="/assets/Ellipse 3.png">
    </div>
    <div class="lines">
        <div>Ongoing&nbsp;course</div>
        <div class="see">See&nbsp;All</div>
    </div>
    <div class="onGo">
        <div>
            <img src="/assets/Card 1.png">
        </div>
        <div>
            <img src="/assets/Card 1.png">
        </div>
        <div>
            <img src="/assets/Card 1.png">
        </div>
        <div>
            <img src="/assets/Card 1.png">
        </div>
    </div>
    <div class="lines cat">Categories
        <div class="see">See&nbsp;All</div>
    </div>
    <div class="design">
        <img src="/assets/Design.png">
        <img src="/assets/Design.png">
        <img src="/assets/Design.png">
        <img src="/assets/Design.png">
        <img src="/assets/Design.png">
        <img src="/assets/Design.png">
        <img src="/assets/Design.png">
        <img src="/assets/Design.png">
        <img src="/assets/Design.png">
        <img src="/assets/Design.png">
        <img src="/assets/Design.png">
        <img src="/assets/Design.png">
    
    </div>
    <div class="lines choice">Choice&nbsp;your&nbsp;course
        <div class="see">See&nbsp;All</div>
    </div>
    <div class="course">
        <img src="/assets/Card 4.png">
        <img src="/assets/Card 4.png">
        <img src="/assets/Card 4.png">
        <img src="/assets/Card 4.png">
    </div>

    <div class="lines best">Top&nbsp;courses&nbsp;in&nbsp;business
        <div class="see">See&nbsp;All</div>
    </div>
    <div class="cbest">
        <img src="/assets/Card 12.png">
        <img src="/assets/Card 12.png">
        <img src="/assets/Card 12.png">
        <img src="/assets/Card 12.png">
       
        
        
    </div>
    <div class="lines bestOne">Top&nbsp;courses&nbsp;in&nbsp;design
        <div class="see">See&nbsp;All</div>
    </div>
    <div class="cbestOne">
        <img src="/assets/design.png">
        <img src="/assets/design.png">
        <img src="/assets/design.png">
        <img src="/assets/design.png">
        
        
    </div>
    
</div>
